:root {
  --main-bg-color: #ca5310;
  --main-font-color: #000000;
  --main-list-color: #f3c259;
  --main-btn-color: #ca5310;
  --main-list-element-color: #ffba5f;
  --secundary-font-color: #000000;
  --secundary-list-element-color: #e69f36;
  --secundary-btn-color: #fc7532;
}
/* 
:root {
  --main-bg-color: #fbba72;
  --main-font-color: #000000;
  --main-list-color: #ca5310;
  --main-btn-color: #ca5310;
  --main-list-element-color: #8f250c;
  --secundary-font-color: #000000;
  --secundary-list-element-color: #691e06;
  --secundary-btn-color: #fc7532;
} */

body {
  background-color: var(--main-bg-color);
  background-image: url("./img/wood-bg.jpg");
  background-repeat: repeat;
  background-size: auto;
  background-attachment: scroll;
  margin: 0;
  color: var(--main-font-color);
  font-family: "Roboto Slab", serif;
}

/* NAVBAR */

nav ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  background-color: var(--main-list-element-color);
  list-style-type: none;
  margin: 0;
  padding: 10px 50px;
}

nav ul li {
  background-color: var(--secundary-list-element-color);
  margin-right: 20px;
  height: 20px;
  padding: 5px 10px;
}

/* MODAL CONTENT */

.title-section {
  background-size: cover;
  background-position-y: 50%;
  margin-bottom: 10vh;
  width: 100%;
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 1);
}

.title-bg-img {
  position: absolute;
  z-index: -1;
  overflow: hidden;
  top: -200px;
  filter: blur(3px);
  width: 100%;
}

.title-wrapper {
  position: relative;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 20px;
}

.title-img {
  width: 25vw;
}

.title-h1 {
  margin: 0;
  font-family: "Tangerine", cursive;
  font-size: 7vw;
  color: white;
  text-shadow: 2px 2px #000000;
  text-align: center;
}

/* FILTER MENU */

.menu-section {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 5vh;
}

.menu-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 400px;
  height: 100px;
  padding: 0 10px;
}

#search-wrapper input {
  width: 100%;
  height: 30px;
  background-color: var(--main-list-color);
  border: none;
  border-bottom: 2px solid var(--main-list-element-color);
}

#search-wrapper input:focus {
  background-color: var(--secundary-btn-color);
}

#search-wrapper input::placeholder {
  color: black;
}

.filter-img {
  width: 40px;
  filter: grayscale(100%);
}

.filter-img:hover {
  cursor: pointer;
  filter: grayscale(0%);
  transform: scale(1.1);
}

.active {
  filter: grayscale(0%);
  transform: scale(1.1);
}

#sort-wrapper p:hover {
  cursor: pointer;
}

.menu-input {
  width: 100px;
}

.menu-text {
  font-size: 20px;
}

/* LIST */

.main-section {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 10vh;
  background-color: var(--main-list-color);
  padding: 20px 0;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.student:nth-child(even) {
  background-color: var(--main-list-element-color);
}

.student:nth-child(odd) {
  background-color: var(--secundary-list-element-color);
}

.student {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100px;
  padding: 20px 20px;
  margin-bottom: 10px;
  min-width: 700px;
  width: 95%;
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.student:last-child {
  margin-bottom: 0;
}

.student-img {
  width: 100px;
  margin: 0 10px;
}

.student-house-img {
  width: 60px;
}

.student-gender-img {
  width: 20px;
  margin-left: 5px;
}

.student-name {
  margin-left: 20px;
}

.student-details {
  margin-left: 50px;
}

.details-btn {
  width: 200px;
  height: 50px;
  margin-left: auto;
  box-shadow: inset 0px 1px 0px 0px #a6827e;
  background-color: var(--main-list-color);
  border-radius: 3px;
  border: 1px solid #54381e;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #4d3534;
}

.details-btn:hover {
  background-color: var(--secundary-btn-color);
}

.details-btn:active {
  position: relative;
  top: 1px;
}

/* INFO */

.info-section {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.info-section .basic-wrapper {
  display: flex;
  justify-content: flex-start;
  background-color: var(--main-list-color);
  width: auto;
  padding: 0 10px;
}

.basic-wrapper [data-info="list-current"] {
  margin-left: auto;
  cursor: pointer;
}

.basic-wrapper [data-info="list-current"]:hover {
  font-weight: bold;
}

.basic-wrapper [data-info="list-expelled"] {
  cursor: pointer;
}

.basic-wrapper [data-info="list-expelled"]:hover {
  font-weight: bold;
}

.basic-wrapper p {
  margin-right: 20px;
}

.basic-wrapper p:last-child {
  margin-right: 0;
}

.info-section .advanced-wrapper {
  height: 50px;
  overflow: hidden;
  transition: 0.3s all;
  background-color: var(--main-list-color);
  padding: 0 20px;
}

.info-section .advanced-wrapper:hover {
  height: 200px;
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  display: flex;
  background-color: #fefefe;
  /* background-image: url("./img/lined_paper.png");
  background-blend-mode: multiply;
  background-size: 120%;
  background-position: center; */
  /* font-family: "Dancing Script", cursive; */
  margin: 5% auto;
  padding: 20px;
  width: 30%;
  height: 70%;
}

.close {
  color: #000;
  float: right;
  font-size: 45px;
  font-weight: bold;
  height: 30px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* MODAL CONTENT */
.modal-student-img-wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.modal-student-img-wrapper .student-img {
  width: 200px;
}

.modal-student-img-wrapper .student-house-img {
  margin-top: 15px;
  width: 100px;
}

.modal-student-details-wrapper {
  width: 90%;
  margin-left: 2vw;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}

.modal-student-details-wrapper .student-name {
  margin-left: 0;
}

.modal-student-details-wrapper .student-name span {
  font-weight: normal;
}

.modal-student-details-wrapper .student-details {
  margin-left: 0;
}

.modal-student-button-wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: auto;
}

.modal-student-button-wrapper .modal-btn {
  width: 200px;
  height: 50px;
  margin: 5px 0;
  background-color: rgb(206, 83, 83);
  border-radius: 3px;
  border: 1px solid #54381e;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #4d3534;
}

/* .modal-student-button-wrapper .modal-btn {
  font-family: "Dancing Script", cursive;
  font-size: 20px;
  color: rgb(190, 22, 22);
  width: 200px;
  height: 50px;
  margin: 5px 0;
  cursor: pointer;
  opacity: 60%;
  border-left: 1px solid red;
  border-right: 1px solid red;
  /* background-image: url("./img/expell-btn.png");
  background-blend-mode: overlay;
  background-color: transparent; */

.modal-student-button-wrapper .modal-btn:hover {
  background-color: rgba(143, 6, 6, 0.4);
}

.modal-student-button-wrapper #promote-btn {
  filter: hue-rotate(90deg);
}

.modal-student-button-wrapper #prefect-btn {
  filter: hue-rotate(210deg);
}

#warning {
  font-size: 15px;
  color: rgb(143, 0, 0);
  display: none;
}

/* HOUSE COLORS */
.slytherin {
  background-color: rgb(118, 238, 118);
}

/* .slytherin button {
  background-color: #aaaaaa;
  border: 1px solid #777777;
} */

.slytherin button:hover {
  background-color: #cccccc;
}

.gryffindor {
  background-color: #f78080;
}
/* 
.gryffindor button {
  background-color: #ffc500;
  border: 1px solid #c99a00;
} */

.gryffindor button:hover {
  background-color: #ffd54d;
}

.hufflepuff {
  background-color: #eee017;
}
/* 
.hufflepuff button {
  background-color: #aaaaaa;
  border: 1px solid #777777;
} */

.hufflepuff button:hover {
  background-color: #cccccc;
}

.ravenclaw {
  background-color: #5e65c2;
}

/* .ravenclaw button {
  background-color: #946b2d;
  border: 1px solid #5f4216;
} */

.ravenclaw button:hover {
  background-color: #c99c59;
}
